.input,
.textarea {
  box-sizing: border-box;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
  height: 100%;

  background-color: $white;
  border-color: $gray;
  border-radius: 0.375em;
  color: $black;

  &:active,
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.125em lighten($red, 50%);
  }

  &:hover {
    border-color: $red;
  }

  &.fluid {
    width: 100%;
  }
}

.textarea {
  box-sizing: border-box;
  height: 100%;
}
