@import "/src/style/utilities/index.scss";

.file-container {
  margin: getSpacing("3");

  display: grid;
  place-items: center;

  .file {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba($black, 0.4);
    background-color: $white;
    color: $gray;
    border-radius: $border-radius;
    border: 1px solid $gray;
    transition: all ease-in-out 0.3s;
    &:hover {
      background-color: lighten($red, 50%);
      border: 1px solid $primary;
    }
    &-icon {
      color: $yellow;
    }
    &-name {
      color: $black;
      font-weight: bold;
      max-width: 76px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
