@import "/src/style/utilities/index.scss";

.file-container {
  margin: getSpacing("3");

  display: grid;
  place-items: center;

  .file {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;

    background-color: $gray-light;
    color: $gray;
    border-radius: $border-radius;
    border: 1px solid $gray;
    &:hover {
      color: $primary;
      border: 1px solid $primary;
    }
    &-icon {
    }
    &-text {
    }
  }
}
