.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: $black;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;

  &:active {
    border-color: $gray;
    color: $black;
  }

  &:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
  }

  &:focus {
    border-color: $primary;
    color: $black;
  }
  &:hover {
    border-color: #b5b5b5;
    color: $black;
  }
}
