.desktop {
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content;
  .desktop-apps {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
  }
}
