.window {
  position: absolute;

  background-color: $white;
  box-shadow: 0px 0px 20px rgba($black, 0.4);
  &.normal {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
  }
  &.mini {
    top: calc(50% - 100px);
    bottom: calc(50% - 100px);
    left: calc(50% - 100px);
    right: calc(50% - 100px);
  }

  border-radius: $border-radius;
  max-height: 100%;
  &-toolbar {
    display: flex;
    padding: getSpacing("1");
    border-bottom: 1px solid $yellow;
    .window-name {
    }

    .window-buttons {
      margin-left: auto;
      display: flex;
      .minimize-icon {
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
      .close-icon {
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &-content {
    height: 95%;
    position: relative;
  }
}
